<div class="col-md-8 box col-md-offset-2">


Este é o <%= video.name %></br>
Este é o path da versão original <%= video.original_video_path %></br>
<a href="http://<%= video.encoded_video_path %>" class="btn btn-lg btn-primary btn-block">Versão codificada</a></br>



</div>
