<div class="col-md-6 box col-md-offset-3">
  <form action="/create" method="POST" id="video-create-form" class="form-signin">
	   <h2 class="form-signin-heading">Codifique um vídeo</h2>
     <label for="Nome do Vídeo">Nome do Vídeo</label>
	    <div class="control-group">
	       <input type="text" class="form-control" placeholder="Nome do Vídeo" name="name" required>
	      </div>
      </br>
      <label for="Arquivo">Arquivo do Vídeo</label>

	     <input type="file" placeholder="your title" name="file" required>
     </br>

	    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Codificar Video"/>
	     <input type="hidden" name="_csrf" value="<%= _csrf %>" />
     </form>
</div>
